body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}

/* nav1 css start */
#header {
    width: 100%;
    height: 65px;
}

#nav1 {
    width: 100%;
    height: 40px;
    background-color: #2f3337;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#nav1_p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 70vh;
    font-size: 14px;
}

#close {
    color: #ffffff;
    font-weight: 200;
    display: grid;
    align-items: center;
}

/* nav1 css end */

/* nav2 css start */
#nav2 {
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

#nav2 :first-child {
    padding-left: 20px;
}

#nav2>img {
    width: 2.3%;
}

/* header part end here */
nav {
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

}

#nav3 {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
}

#left_d {
    width: 11.3%;
    height: 69px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 0;
}

#left_d img {
    width: 55px;
}

#left_d p {
    font-size: 30px;
    margin-left: -10px;
}

#center_d form {
    display: flex;
    border: 1px solid #ddd;
    width: 150vh;
    height: 35px;
    padding: 0;
    border-radius: 5px;

}

#center_d form input {
    margin: 0%;
    width: 95%;
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: none;
}

#center_d form button {
    width: 4%;
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: none;
    background-color: #FF1F2C;

}

#right_d {
    width: 12%;
    display: flex;
    align-items: center;
    height: 100%;
}

#right_d div {
    margin-left: 9%;
    width: 25%;
    height: 53%;
    font-size: 12px;
    display: grid;
    justify-content: center;
}

#right_d div p {
    margin-top: -4%;
}

#user img {
    margin-left: 15%;
}

#nav4 {
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
}

.dropdown-content-part {
    
    /* border: 1px solid blue; */
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 30px;
    background-color: #ffffff;
    /* position:relative; */

} 

 .dark-div {
    font-weight: bold;
}

.dropdown-img-cont {
    /* border: 1px solid red;  */
    width: 300px;
    height: 300px;
    /* line-height: 20px; */
}

#image {
    margin: 0;
/* border: 1px solid;  */
 width: 100%;
    height: 80%;

}

#image img {
    width: 100%;
    height: 100%;
}

.red-div {
    color: red;
}

.dropdown-content-part div div :hover{
 text-decoration: underline; 
 
}
.dropdown-content-part{
    display: none;
}




