#side {
    border: 1px solid red;
    width: 22%;
    height: auto;
}

#main {
    display: flex;
    width: 98%;
    margin: auto;
}

#content {
    border: 1px solid red;
    width: 58%;
    height: auto;
    background-image: url("https://ak1.ostkcdn.com/img/mxc/07062022_SUMMER_HomeImp_Hero_Desktop.jpg?imwidth=680");
    background-size: 100% 100%;
}

#content>div {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 20px;
}

#content>div>button {
    background-color: red;
    border: 1px solid white;
    position: absolute;
    color: white;
    padding: 5px;
    margin-left: 50px;
    margin-right: 40px;
}

#content>div>p {
    color: white;
    text-align: center;
}

#content>div>h1 {
    color: white;
    text-align: center;
}

#content>div>h2 #subcontent {
    border: 1px solid red;
    width: 28%;
    height: auto;
}

#head {
    font-size: 50px;
}

#side>div>div>p {
    font-size: 23px;
}

#side>div>div>p:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#side>div>div {
    margin-left: 10px;
}