#topbanner {
    width: 100%;
    height: 500px;
    border: 0px solid red;
    margin: auto;
    background-image: url("https://t3.ftcdn.net/jpg/02/72/69/76/360_F_272697620_ja4lcvVK2sMNbR65T0R4msIXbp3eMEuw.jpg");
    background-size: 100% 500px;
}

#topbanner>img {
    width: 100%;
    height: 100%;
}

#limited {
    text-align: center;
}

#offers {
    width: 100%;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

#offers>div>img {
    width: 100%
}

#offers>div {
    background-color: rgb(231, 226, 226);
}

#offers>div:hover {
    background-color: rgb(209, 197, 197);
}

#middle-text {
    color: white;
    text-size-adjust: 10px;
}

#middle {
    background-image: url("https://t4.ftcdn.net/jpg/02/00/08/01/240_F_200080155_FBrIABz5nO3rz2Ay2Arf7ejKVccupVWu.jpg");
    background-size: 100% 350px;
    height: 350px;
}

#middle-text>img {
    height: 350px;
}

#middle>img {
    width: 100%;
}

#fresh {
    text-align: center;
}

#categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 95%;
    margin: auto;
}

#categories>a>div {
    border: 0px solid red;
}

#categories>a>div>img {
    width: 100%;
}

#categories>a>div>:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#categories>a {
    text-decoration: none;
}

h4 {
    text-align: center;
    color: rgb(129, 126, 126);
    text-decoration: none;
}

h1 {
    text-align: center;
}

#budget {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

#budget>a>div {
    background-color: #F5F6F7;
    height: 100%;
}

#budget>a>div>img {
    width: 100%;
}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h2 {
    color: black;
}

#budget>a {
    text-decoration: none;
}

#midbanner {
    width: 100%;
    height: auto;
    background-image: url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100% auto;
    margin-top: 30px;
}

#deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

#deals>a>div {
    background-color: rgb(221, 216, 216);
}

#deals>a>div>img {
    width: 100%;
}

#deals>a {
    text-decoration: none;
}

h3 {
    color: black;
    text-align: center;
}

#deals>a>div>p {
    text-align: center;
}

#bigdeal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

#bigdeal>a>div {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#bigdeal>a {
    text-decoration: none;
}

#but {
    margin: 0;
    position: absolute;
    right: 40%;
    left: 43%
}

#but>button {
    border-bottom: 50px;
    background-color: black;
    color: white
}

#but>button>a>h3 {
    color: antiquewhite;
}

#but>button>a {
    text-decoration: none;
}

#trend {
    text-align: center;
    border-top: 40px;
}

#trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    gap: 20px;
    border-bottom: 500px;
}

#trending>a {
    text-decoration: none;
}

#trending>a>div>h1 {
    color: black;
}

#trending>a>div {
    background-color: rgb(243, 242, 242);
    padding-bottom: 3px;
    padding-top: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0px solid red;
    background-color: #545658;
    border-top: 200px;
    padding: 67px;
}

#footer>div>div>h3 {
    text-align: left;
    color: white;
}

#footer>div>a>div>p {
    color: antiquewhite;
}

#footer>div>a>div {
    padding: 1px;
}

#footer>div>a {
    text-decoration: none;
}

#footer>div>div>a {
    text-decoration: none;
}

#footer>div>div {
    padding: 1px;
}

#footer>div>div>a>p {
    color: white;
}

#lastfoot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
}

#lastfoot2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#lastfoot>div>p {
    color: white;
}

#lastfoot2>div>p {
    color: white;
}

#lastfoot2>div>p>span {
    position: absolute;
    top: 50;
    bottom: 50;
}


/* mediaqueries */

/* @media screen and (min-width:900px) {
    #footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 0px solid red;
        background-color: #545658;
        border-top: 200px;
        padding: 67px;
        width: 65%;
        margin: auto;
    }
    #categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        width: 65%;
        margin: auto;
    }
    #offers {
        width: 60%;
        border: 0px solid red;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    #topbanner {
        width: 60%;
        height: 300px;
        border: 0px solid red;
        margin: auto;
        background-image: url("https://t3.ftcdn.net/jpg/02/72/69/76/360_F_272697620_ja4lcvVK2sMNbR65T0R4msIXbp3eMEuw.jpg");
        background-size: 100% 300px;
    }
    #middle {
        background-image: url("https://t4.ftcdn.net/jpg/02/00/08/01/240_F_200080155_FBrIABz5nO3rz2Ay2Arf7ejKVccupVWu.jpg");
        background-size: 100% 250px;
        height: 250px;
        width: 60%;
        margin: auto;
    }
    #midbanner {
        width: 60%;
        height: 300px;
        background-image: url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-size: 100% 300px;
        margin-top: 30px;
        margin: auto;
    }
    #bigdeal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: auto;
        width: 60%
    }
    #deals {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: auto;
        width: 65%;
    }
    #budget {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: auto;
        width: 65%;
    }
    #trending {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4;
        gap: 20px;
        border-bottom: 500px;
        width: 65%;
        margin: auto;
    }
}

@media screen and (min-width:2000px) {
    #trending {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 4;
        gap: 20px;
        border-bottom: 500px;
        width: 35%;
        margin: auto;
    }
    #lastfoot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: black;
        width: 65%;
        margin: auto;
    }
    #lastfoot2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 65%;
    }
    #footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border: 0px solid red;
        background-color: #545658;
        border-top: 200px;
        padding: 67px;
        width: 35%;
        margin: auto;
    }
    #budget {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: auto;
        width: 35%;
    }
    #deals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: auto;
        width: 35%;
    }
    #bigdeal {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: auto;
        width: 35%
    }
    #categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        width: 40%;
        margin: auto;
    }
    #offers {
        width: 35%;
        border: 0px solid red;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    #topbanner {
        width: 35%;
        height: 200px;
        border: 0px solid red;
        margin: auto;
        background-image: url("https://t3.ftcdn.net/jpg/02/72/69/76/360_F_272697620_ja4lcvVK2sMNbR65T0R4msIXbp3eMEuw.jpg");
        background-size: 100% 200px;
    }
    #middle {
        background-image: url("https://t4.ftcdn.net/jpg/02/00/08/01/240_F_200080155_FBrIABz5nO3rz2Ay2Arf7ejKVccupVWu.jpg");
        background-size: 100% 150px;
        height: 150px;
        width: 35%;
        margin: auto;
    }
    #midbanner {
        width: 35%;
        height: 150px;
        background-image: url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-size: 100% 150px;
        margin-top: 30px;
        margin: auto;
    }
    #lastfoot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: black;
        width: 35%;
        margin: auto;
    }
    #lastfoot2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 35%;
    }
} */